.places {
  padding: 0 148px 92px;
  max-width: 984px;
  display: grid;
  grid-row-gap: 80px;
  margin: 0 auto;
}

@media screen and (max-width:1184px) {
  .places {
    max-width: 928px;
    padding: 0 48px 92px;
  }
}

@media screen and (max-width:1023px) {
  .places {
    max-width: 720px;
    padding: 0 24px 90px;
    grid-row-gap: 73px;
  }
}

@media screen and (max-width:767px) {
  .places {
    max-width: 720px;
    padding: 0 0 66px;
    grid-row-gap: 50px;
  }
}
