.header__lang {
  padding: auto 0 auto 18px;
  padding-left: 18px;
  width: 30px;
  text-decoration: none;
  color: #FFFFFF;
}

.header__lang:hover {
  opacity: 0.8;
}

@media screen and (max-width:767px) {
  .header__lang {
    width: 22px;
  }
}
