.place__paragraph {
  margin: 0 auto 26px 40px;
  max-width: 484px;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
}

@media screen and (max-width:1023px) {
  .place__paragraph {
    font-size: 16px;
    line-height: 163%;
  }
}

@media screen and (max-width:767px) {
  .place__paragraph {
    padding: 0 16px;
    margin: 0;
  }
}

@media screen and (max-width:767px) {
  .place__paragraph:nth-child(2) {
    padding-top: 25px;
  }
}
