.intro {
  display: flex;
  flex-direction: column;
  padding: 0 442px 92px 148px;
  max-width: 690px;
  margin: 0 auto;
}

@media screen and (max-width:1184px) {
  .intro {
    padding: 0 286px 92px 48px;
  }
}

@media screen and (max-width:1023px) {
  .intro {
    padding: 0 24px 88px;
  }
}

@media screen and (max-width:767px) {
  .intro {
    padding: 0 16px 64px;
  }
}
