.cover {
  padding: 0 48px;
  min-width: 320px;
  max-width: 1280px;
  margin: 0 auto;
}

@media screen and (max-width:1184px) {
  .cover {
    padding: 0;
  }
}

@media screen and (max-width:767px) {
  .cover {
    padding: 0;
  }
}
